/* Style Sheet - Cheer Me App*/

/*
*********************
=choose a goal page
**********************
*/
body {background-color:#137d49;}

h1 {color:white;
text-indent: 543px;
font: Calibri;
margin-top: -10px;
}

nav li a {
  color: white;
  text-decoration: none;
}

nav li a:hover {
  text-shadow: 2px 2px 4px #000000;
}

.getInspired {
  height: 256.25px;
  width: 410px;
}
/* img for get inspired:*/
.speaker {
position: relative;
width: 100%;
}
.getInspired li {
  position: absolute;
}

.academy {
  height: 371.25px;
  width: 305px;
  background: url(../img/goal02.png) no-repeat;
}

.projects {
    height: 371.25px;
    width: 291.25px;
    background: url(../img/goal01.png) no-repeat;
}

.findJob {
  height: 213.75px;
  width: 376.25px;
  background: url(../img/goal04.png) no-repeat;
}

.getAhead {
  /*glasses- to be determined*/
}

.takePic {
  /*selfi time! */
}

.yourProfile {
/*
+ watch progress bars on all active activity
+ note to selves: make sure progress bar on inactive stuff
won't show up as 0% progress 'cause thats lame :P
*/
}

.takeBreak {
/*suggestions on what to do to relax
stretches for instance
drink something
*/
}

.helpTheOthers {
  /*sign up for different tasks and positions at the organization.
  this will be added to your profile and gain you points!*/
}
