	/* css file for cheer me app 2.1 */ 

body {
    background-image: url("../img/stairs.jpg");
    background-size: 100%;
}

.flex-container1 {
	display: -webkit-flex;
	display: flex;
	width: 500px;
	height: 300px;
	background-color: green;
}
shecodesStairs.png {
	height: 500px ;
	width: 250px;
    display: inline-block;

}
#upbox {
    width: 150px;
    height: 300px;
    position: absolute;
	top: 420px;
	left: 150px;
	display: flex;

}

#checkboxArea {
    position: absolute;
	left: 1150px;
	top: 0px;
	display: flex;
}

#dataTable {
	font-size: 10px;
}


#quates1 {
	size: flex;
	
}