/* css file for cheer me app 2.1 */ 

body {
    background-image: url("../img/stairs.svg");
    background-size: 100%;
}

girl.svg {
 color: red;
    display: inline-block;

}
#upbox {
    width: 150px;
    height: 300px;
    position: relative;
    border: 2px solid red;
}
